<div id="navbar">
  <ul id="navList">
    <li>
      <a href="/">
        <%= image_tag("shopme200mustard.png", id: "logo") %>
        <%= image_tag("shopme140mustard.png", id: "logo_sm") %>
      </li>
    </a>
    <li id="slider">
      <div id="toggleswitch" class="switch-toggle switch-3 switch-candy yellow">
        <input id="mens" name="gender" type="radio">
        <label for="mens" class="dept_class"> 
          <%= image_tag("tie.svg", class: "gender", type: "image/svg+xml") %>
        </label>
        <input id="both" name="gender" type="radio" checked="checked">
        <label for="both" class="dept_class">
          <div id="bothgenders">
            <%= image_tag("tie.svg", class: "gender", type: "image/svg+xml") %>
            <%= image_tag("heel.svg", class: "gender", type: "image/svg+xml") %>
          </div>
        </label> 

        <input id="womens" name="gender" type="radio">
        <label for="womens" class="dept_class">
          <%= image_tag("heel.svg", class: "gender", type: "image/svg+xml") %>
        </label>
        <a></a>
      </div>
    </li>
  </ul>
</div>
