<% products.each do |product| %>
  <li class="item animate masonry-brick <%= product.department %>_items" rel="<%= product.id %>">
    <div class="product wrap">
      <div class="like" data-productid="<%= product.id %>">
        <a class="likeicon" href="#">&#xe000;</a>
      </div>
      <div class="dislike" data-productid="<%= product.id %>">
        <a class="dislikeicon" href="#">&#xe028;</a>
      </div>
      <div class="side-a">
        <div class="side-a-img">
          <%= image_tag product.large_image, { alt: product.title, title: product.title} %>
        </div>
      </div>
      <div class="side-b">
        <p class="title"><%= product.title %></p>
      </div>
    </div>
  </li>
<% end %>
