<% products.each do |product| %>
  <li class="item animate masonry-brick wrap" rel="<%= product.id %>">
    <div class="product wrap">



    

      <div class="side-a">
        <div class="like-dislike">
          <div class="like" data-productid="<%= product.id %>">
            <a class="heart" href="#">&#xe000;</a>
          </div>
          <div class="dislike" data-productid="<%= product.id %>">
            <a class="fire" href="#">&#xe028;</a>
          </div>
        </div>

        <%= image_tag product.large_image, { alt: product.title, title: product.title} %>
          
      </div>
      <div class="side-b" style="position:absolute;top:0px; background-color:#67C8FF">
        <%= product.title %>
      </div>

  </li>
<% end %>
