<header>
  <%= render 'nav_bar' %>
</header>

<section class="container">
  <ul class="grid effect-1 transitions-enabled infinite-scroll clearfix masonry" id="grid">
    <%= render partial: "product_list", locals: {products: @products} %>
  </ul>

  <div id="page-nav">
    <%= link_to 'More Products', "/products/load?page=#{Time.now.to_i}" %>
  </div>
</section>

<footer>
  <div id="infinite-scroll-end">
    <a href="#" class="more-random">
      <%= image_tag("clotheshanger.png", title: "=(") %>
    </a>
    <p id="no_mo">No more similar products for your likes right now...</p>
    <a href="#top">Like more</a> or
    <%= link_to 'see what else is available!', "#", class: 'more-random' %>
  </div>
  <div class="modal fade" id="welcome" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h2>Online shopping made even easier.</h2>
          <h3>
            <span class="heart icon">&#xe000;</span> what you like. 
            <span class="fire icon">&#xe028;</span> what you don't.</h3>
            <p>
              We'll try our best to show more of what you're looking for.
            </p>
            <h2>
              Relax, click, and scroll.
            </h2>
          </div>
          <div id='welcome-button' data-dismiss="modal">
          </div>
          <p id="hint">Hint: Get more specific by selecting your gender.</p>
        </div>
      </div>
    </div>
  </footer>
